@import 'tailwindcss';

@theme {
  /** font size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-md: 20px;
  --text-lg: 24px;
  --text-xl: 28px;
  --text-2xl: 32px;
  --text-3xl: 36px;
  --text-4xl: 40px;

  /** line height */
  --leading-18: 18px;
  --leading-20: 20px;
  --leading-22: 22px;
  --leading-24: 24px;
  --leading-28: 28px;
  --leading-34: 34px;
  --leading-38: 38px;
  --leading-42: 42px;
  --leading-46: 46px;
  --leading-52: 52px;

  /** letter spacing */
  --tracking-base: -0.6px;

  /** font weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
}

/** Pretendard Title */
@utility typo-display-05 {
  font-size: var(--text-4xl);
  line-height: var(--leading-52);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-semibold);
}

@utility typo-display-04 {
  font-size: var(--text-3xl);
  line-height: var(--leading-46);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-semibold);
}

@utility typo-display-03 {
  font-size: var(--text-2xl);
  line-height: var(--leading-42);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-semibold);
}

@utility typo-display-02 {
  font-size: var(--text-xl);
  line-height: var(--leading-38);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-semibold);
}

@utility typo-display-01 {
  font-size: var(--text-lg);
  line-height: var(--leading-38);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-semibold);
}

@utility typo-headline {
  font-size: var(--text-md);
  line-height: var(--leading-28);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-semibold);
}

@utility typo-subhead-03 {
  font-size: var(--text-base);
  line-height: var(--leading-22);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-semibold);
}

@utility typo-subhead-long-03 {
  font-size: var(--text-base);
  line-height: var(--leading-28);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-semibold);
}

@utility typo-subhead-02 {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-semibold);
}

@utility typo-subhead-01 {
  font-size: var(--text-xs);
  line-height: var(--leading-18);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-semibold);
}

/** Pretendard Body */
@utility typo-body-02 {
  font-size: var(--text-base);
  line-height: var(--leading-24);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-regular);
}

@utility typo-body-long-02 {
  font-size: var(--text-base);
  line-height: var(--leading-28);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-regular);
}

@utility typo-body-01 {
  font-size: var(--text-sm);
  line-height: var(--leading-20);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-regular);
}

@utility typo-body-long-01 {
  font-size: var(--text-sm);
  line-height: var(--leading-24);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-regular);
}

@utility typo-caption {
  font-size: var(--text-xs);
  line-height: var(--leading-18);
  letter-spacing: var(--tracking-base);
  font-weight: var(--font-weight-regular);
}
